*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 60px;
    height: 5000px;
}
header{
    height: 60px;
    background-color: #f6f6f6;
    position: fixed;
    width: 100%; /*34an position fixed bybwz el width by7awelo mn block l inline block*/
    top:0;
    transition: height 0.5s;
}
.changeHeader{
    height: 50px;
    background-color: gold;
    box-shadow: 2px 5px 5px #000;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header ul li a{
    display: block;
    margin: 5px;
    background-color: #f50;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
header ul li a.active {
    background-color: #080;
}
section {
    min-height: 400px;
    /* display: none; */
}
section.home{
    /* display: block; */
    background: coral;
}
section.about{
    background: cornflowerblue;
}
section.portfolio{
    background: darkorange;
}
section.contact{
    background: darkviolet;
}
.portfolio img {
    width: 250px;
    height: 250px;
}
textarea{
    display: block;
}
.scrollTop{
    position: fixed;
    bottom: 10px;
    right: 0;
    background-color: red;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    display: none;
}